.go-back{
    height: 30px;
    width: 150px;
    margin: 5px;
    float: left
}

.button-folder-container{
    float: left;
    text-align: center;
}

.expanded-note{
    border: 1px solid black;
    float: right;
    width: 80%;
    margin-right: 10px;
    margin-top: 5px;
    text-align: left;
    padding: 10px;
}

.folder-name{
    margin-top: 20px;
}


.note-content {
    display: inline-block;
    width: 80%;
    float: right;
}