.note-list{
    text-align: center;
    margin-left: 30%;
}

.note-list a{
    text-decoration: none;
}

.note-list li{
    border: 1px solid black;
    padding: 20px;
    margin-top: 10px;
    width: 100%;
    text-align: left;
}

li a:link {
    color: black;
}

